{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4 text-center">
            <h2 class="mb-4 text-danger">🗑 Delete Book</h2>

            {% if book.cover_image %}
                <img src="{{ book.cover_image.url }}" width="150" class="rounded mb-3 mx-auto">
            {% endif %}

            <h4>{{ book.title }}</h4>
            <p>Are you sure you want to permanently delete this book?</p>

            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
                <a href="{% url 'manage_books' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}